{% extends "base.html" %}


{% block content %}

<div class="container">
  <div class="row mt-5">
    <div class="col-lg-6">
      <img class="img-fluid"
        src="https://raw.githubusercontent.com/luisfernandocastro/ImageServer/master/icono_game.jpg" alt="">
    </div>
    <div class="col-lg-6">
      <button class="btn btn-primary">Generar sala</button>
      <h5>Ingresa tu codigo de empleado</h5>
      <div class=""></div>
      <input type="text" class="form-control">
    </div>
  </div>
</div>

{% endblock content %}