{% extends "base.html" %}

{% block classbody %}

<body class="body-index">
  {% endblock classbody %}

  {% block content %}
  <div class="container">
    <div class="row mt-5 m-0 vh-100  justify-content-center align-items-center">
      <div class="col-lg-8">
        <img class="img-fluid logo2"
          src="https://raw.githubusercontent.com/luisfernandocastro/ImageServer/master/icono_game.jpg">
      </div>
      <div class="col-lg-4">
        <a href="{% url 'login' %}" class="btn btn-info">Iniciar sesión</a>
        <a href="{% url 'registro' %}" class="btn btn-info">Registrarse</a>


      </div>
    </div>
  </div>
  </div>
  </div>
  {% endblock content %}