{% extends "base.html" %}

{% block classbody %}

<body class="body-index">
  {% endblock classbody %}

  {% block content %}

  <div class="container">
    <div class="row mt-5 m-0 vh-100  justify-content-center align-items-center">
      <div class="col-lg-8">
        <img class="img-fluid d-block mx-auto logo"
          src="https://raw.githubusercontent.com/luisfernandocastro/ImageServer/master/icono_game.jpg" alt="">
      </div>
      <div class="col-lg-4">
        <a class="btn boton_principal btn-info" href="{% url 'sala' %}">Generar sala</a>
        <h5 class="mt-3">Ingresa tu codigo de Invitado</h5>

        <div class="row">
          <div class="col-lg-9">
            <input type="text" class="form-control" value="124adv">
          </div>
          <div class="col-lg-3">
            <a class="btn boton_principal btn-info" href="{% url '' %}" type="submit">Empezar</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% endblock content %}