{% extends "base.html" %}

{% block content %}


<div class="container">
    <div class="row m-0 vh-100 justify-content-center align-items-center">

        <div class="col-lg-6">
            <img src="https://raw.githubusercontent.com/luisfernandocastro/ImageServer/master/icono_game.jpg">
        </div>
        <!--columna 1 -->
        <div class="col-lg-6">
            <h3>Este es tu codigo</h3>

            <div class="row">
                <div class="col-lg-6">
                    <input type="text" id="MiEntrada" class="form-control" disabled="disabled" value="code">
                </div>
                <div class="col-lg-6">
                    <button onclick="copiar()" class="btn btn-info boton_principal">Copiar</button>
                </div>
            </div>
            <!-- Funcion del boton copiar -->
            <br>
            <a type="submit" class="btn btn-info boton_principal" href="{% url 'sala' %}">Empezar</a>
            
        </div>
        <!-- columna 2 -->
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->




{% endblock content %}