{% extends "base.html" %}


{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-5">
            <div class="row">
                <div class="col-lg-6">
                    <img class="img-fluid avatar"
                        src="https://raw.githubusercontent.com/luisfernandocastro/ImageServer/master/avatar.png">
                    <h2>Jugador 1</h2>
                    <a href="{% url 'tablero_personal' %}" class="btn btn-info">Ver tablero</a>
                </div>
                <div class="col-lg-6">

                    <div class="row mt-5">

                        <div class="col-lg-6">
                            <img class="img-fluid carta"
                                src="https://raw.githubusercontent.com/luisfernandocastro/ImageServer/master/carta_volteada.jpeg">
                        </div>

                        <div class="col-lg-6">
                            <img class="img-fluid carta"
                                src="https://raw.githubusercontent.com/luisfernandocastro/ImageServer/master/carta_volteada.jpeg">
                        </div>

                    </div>

                    <div class="row mt-5">

                        <div class="col-lg-6">
                            <img class="img-fluid carta"
                                src="https://raw.githubusercontent.com/luisfernandocastro/ImageServer/master/carta_volteada.jpeg">
                        </div>

                        <div class="col-lg-6">
                            <img class="img-fluid carta"
                                src="https://raw.githubusercontent.com/luisfernandocastro/ImageServer/master/carta_volteada.jpeg">
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <!--************************************************************************-->
        <div class="col-lg-5">
            <div class="row">
                <div class="col-lg-6">
                    <img class="img-fluid avatar"
                        src="https://raw.githubusercontent.com/luisfernandocastro/ImageServer/master/avatar.png">
                    <h2>Jugador 2</h2>
                </div>
                <div class="col-lg-6">

                    <div class="row mt-5">
                        <div class="col-lg-6">
                            <img class="img-fluid carta"
                                src="https://raw.githubusercontent.com/luisfernandocastro/ImageServer/master/carta_volteada.jpeg">
                        </div>
                        <div class="col-lg-6">
                            <img class="img-fluid carta"
                                src="https://raw.githubusercontent.com/luisfernandocastro/ImageServer/master/carta_volteada.jpeg">
                        </div>
                    </div>

                    <div class="row mt-5">
                        <div class="col-lg-6">
                            <img class="img-fluid carta"
                                src="https://raw.githubusercontent.com/luisfernandocastro/ImageServer/master/carta_volteada.jpeg">
                        </div>
                        <div class="col-lg-6">
                            <img class="img-fluid carta"
                                src="https://raw.githubusercontent.com/luisfernandocastro/ImageServer/master/carta_volteada.jpeg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--************************************************************************-->
        <div class="col-lg-2">
            <div class="card">
                <div class="card-header bg-info text-center letra">Cartas secretas</div>
                <div class="card-body bg-info d-flex justify-content-center">
                    
                        <img class="img-fluid carta mr-2"
                            src="https://raw.githubusercontent.com/luisfernandocastro/ImageServer/master/carta_volteada.jpeg">
                        <img class="img-fluid carta mr-2"
                            src="https://raw.githubusercontent.com/luisfernandocastro/ImageServer/master/carta_volteada.jpeg">
                        <img class="img-fluid carta"
                            src="https://raw.githubusercontent.com/luisfernandocastro/ImageServer/master/carta_volteada.jpeg">
                    
                </div>

            </div>
        </div>

    </div>
    <div class="row d-flex justify-content-center ">
        <div class="col-lg-6">
            <img class="img-fluid logo"
                src="https://raw.githubusercontent.com/luisfernandocastro/ImageServer/master/icono_game.jpg">

        </div>
    </div>
    <div class="row">
        <div class="col-lg-5">
            <div class="row">
                <div class="col-lg-6">
                    <img class="img-fluid avatar"
                        src="https://raw.githubusercontent.com/luisfernandocastro/ImageServer/master/avatar.png">
                    <h2>Jugador 3</h2>
                </div>
                <div class="col-lg-6">

                    <div class="row mt-5">
                        <div class="col-lg-6">
                            <img class="img-fluid carta"
                                src="https://raw.githubusercontent.com/luisfernandocastro/ImageServer/master/carta_volteada.jpeg">
                        </div>
                        <div class="col-lg-6">
                            <img class="img-fluid carta"
                                src="https://raw.githubusercontent.com/luisfernandocastro/ImageServer/master/carta_volteada.jpeg">
                        </div>
                    </div>

                    <div class="row mt-5">
                        <div class="col-lg-6">
                            <img class="img-fluid carta"
                                src="https://raw.githubusercontent.com/luisfernandocastro/ImageServer/master/carta_volteada.jpeg">
                        </div>
                        <div class="col-lg-6">
                            <img class="img-fluid carta"
                                src="https://raw.githubusercontent.com/luisfernandocastro/ImageServer/master/carta_volteada.jpeg">
                        </div>
                    </div>


                </div>
            </div>


            <!-- <div class="col-lg-6 bg-info">
                hola 2
            </div> -->
        </div>
        <!--************************************************************************-->
        <div class="col-lg-5">
            <div class="row">
                <div class="col-lg-6">
                    <img class="img-fluid avatar"
                        src="https://raw.githubusercontent.com/luisfernandocastro/ImageServer/master/avatar.png">
                    <h2>Jugador 4</h2>

                </div>
                <div class="col-lg-6">

                    <div class="row mt-5">
                        <div class="col-lg-6">
                            <img class="img-fluid carta"
                                src="https://raw.githubusercontent.com/luisfernandocastro/ImageServer/master/carta_volteada.jpeg">

                        </div>
                        <div class="col-lg-6">
                            <img class="img-fluid carta"
                                src="https://raw.githubusercontent.com/luisfernandocastro/ImageServer/master/carta_volteada.jpeg">
                        </div>
                    </div>

                    <div class="row mt-5">
                        <div class="col-lg-6">
                            <img class="img-fluid carta"
                                src="https://raw.githubusercontent.com/luisfernandocastro/ImageServer/master/carta_volteada.jpeg">
                        </div>
                        <div class="col-lg-6">
                            <img class="img-fluid carta"
                                src="https://raw.githubusercontent.com/luisfernandocastro/ImageServer/master/carta_volteada.jpeg">
                        </div>
                    </div>


                </div>
            </div>
        </div>

        <!--************************************************************************-->


    </div>

    {% for b in  random_items %}
        <img src="{{b.image.url}}" alt="">

    {% endfor %}


</div>

{% endblock content %}