{% extends "base.html" %}


{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-5 bg-dark">

                <div class="row">
                    <div class="col-lg-6 bg-info">
                        <img class="img-fluid" src="https://raw.githubusercontent.com/luisfernandocastro/ImageServer/master/avatar.png">
                    </div>
                    <div class="col-lg-6 bg-success">

                        <div class="row mt-5">
                            <div class="col-lg-6">
                                <img class="img-fluid carta" src="https://raw.githubusercontent.com/luisfernandocastro/ImageServer/master/cuadro_gris.jpeg">
                            </div>
                            <div class="col-lg-6">
                                <img class="img-fluid carta" src="https://raw.githubusercontent.com/luisfernandocastro/ImageServer/master/cuadro_gris.jpeg">
                            </div>
                        </div>

                        <div class="row mt-5">
                            <div class="col-lg-6">
                                <img class="img-fluid carta" src="https://raw.githubusercontent.com/luisfernandocastro/ImageServer/master/cuadro_gris.jpeg">
                            </div>
                            <div class="col-lg-6">
                                <img class="img-fluid carta" src="https://raw.githubusercontent.com/luisfernandocastro/ImageServer/master/cuadro_gris.jpeg">
                            </div>
                        </div>


                    </div>                        
                </div>


                <!-- <div class="col-lg-6 bg-info">
                    hola 2
                </div> -->
            </div>


<!--************************************************************************-->

            <div class="col-lg-5 bg-danger">
                <div class="row">
                    <div class="col-lg-6 bg-info">
                        <img class="img-fluid" src="https://raw.githubusercontent.com/luisfernandocastro/ImageServer/master/avatar.png">
                    </div>
                    <div class="col-lg-6 bg-success">

                        <div class="row mt-5">
                            <div class="col-lg-6">
                                <img class="img-fluid carta" src="https://raw.githubusercontent.com/luisfernandocastro/ImageServer/master/cuadro_gris.jpeg">
                            </div>
                            <div class="col-lg-6">
                                <img class="img-fluid carta" src="https://raw.githubusercontent.com/luisfernandocastro/ImageServer/master/cuadro_gris.jpeg">
                            </div>
                        </div>

                        <div class="row mt-5">
                            <div class="col-lg-6">
                                <img class="img-fluid carta" src="https://raw.githubusercontent.com/luisfernandocastro/ImageServer/master/cuadro_gris.jpeg">
                            </div>
                            <div class="col-lg-6">
                                <img class="img-fluid carta" src="https://raw.githubusercontent.com/luisfernandocastro/ImageServer/master/cuadro_gris.jpeg">
                            </div>
                        </div>


                    </div>                        
                </div>
            </div>

<!--************************************************************************-->

            <div class="col-lg-2">

            </div>

        </div>

        <div class="row">
            <div class="col-lg-5 bg-dark">

                <div class="row">
                    <div class="col-lg-6 bg-info">
                        <img class="img-fluid" src="https://raw.githubusercontent.com/luisfernandocastro/ImageServer/master/avatar.png">
                    </div>
                    <div class="col-lg-6 bg-success">

                        <div class="row mt-5">
                            <div class="col-lg-6">
                                <img class="img-fluid carta" src="https://raw.githubusercontent.com/luisfernandocastro/ImageServer/master/cuadro_gris.jpeg">
                            </div>
                            <div class="col-lg-6">
                                <img class="img-fluid carta" src="https://raw.githubusercontent.com/luisfernandocastro/ImageServer/master/cuadro_gris.jpeg">
                            </div>
                        </div>

                        <div class="row mt-5">
                            <div class="col-lg-6">
                                <img class="img-fluid carta" src="https://raw.githubusercontent.com/luisfernandocastro/ImageServer/master/cuadro_gris.jpeg">
                            </div>
                            <div class="col-lg-6">
                                <img class="img-fluid carta" src="https://raw.githubusercontent.com/luisfernandocastro/ImageServer/master/cuadro_gris.jpeg">
                            </div>
                        </div>


                    </div>                        
                </div>


                <!-- <div class="col-lg-6 bg-info">
                    hola 2
                </div> -->
            </div>


<!--************************************************************************-->

            <div class="col-lg-5 bg-danger">
                <div class="row">
                    <div class="col-lg-6 bg-info">
                        <img class="img-fluid" src="https://raw.githubusercontent.com/luisfernandocastro/ImageServer/master/avatar.png">
                    </div>
                    <div class="col-lg-6 bg-success">

                        <div class="row mt-5">
                            <div class="col-lg-6">
                                <img class="img-fluid carta" src="https://raw.githubusercontent.com/luisfernandocastro/ImageServer/master/cuadro_gris.jpeg">
                            </div>
                            <div class="col-lg-6">
                                <img class="img-fluid carta" src="https://raw.githubusercontent.com/luisfernandocastro/ImageServer/master/cuadro_gris.jpeg">
                            </div>
                        </div>

                        <div class="row mt-5">
                            <div class="col-lg-6">
                                <img class="img-fluid carta" src="https://raw.githubusercontent.com/luisfernandocastro/ImageServer/master/cuadro_gris.jpeg">
                            </div>
                            <div class="col-lg-6">
                                <img class="img-fluid carta" src="https://raw.githubusercontent.com/luisfernandocastro/ImageServer/master/cuadro_gris.jpeg">
                            </div>
                        </div>


                    </div>                        
                </div>
            </div>

<!--************************************************************************-->

            <div class="col-lg-2">

            </div>

        </div>
    </div>
{% endblock content %}