{% extends "base.html" %}

{% block content %}
<h1 class="text-center">Jugador 1</h1>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8">
            <div class="row">
                <div class="col-lg-3">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="https://raw.githubusercontent.com/luisfernandocastro/ImageServer/master/carta_volteada.jpeg"
                                    alt="Avatar" style="width:200px; height:250px;">
                            </div>
                            <div class="flip-card-back">
                                <img src="https://raw.githubusercontent.com/luisfernandocastro/ImageServer/master/programador_juanita.jpeg"
                                    alt="Avatar" style="width:200px; height:250px;">
                                <h1 class="text-dark">Juanita</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="https://raw.githubusercontent.com/luisfernandocastro/ImageServer/master/carta_volteada.jpeg"
                                    alt="Avatar" style="width:200px; height:250px;">
                            </div>
                            <div class="flip-card-back">
                                <img src="https://raw.githubusercontent.com/luisfernandocastro/ImageServer/master/error_stack_overflow.png"
                                    alt="Avatar" style="width:200px; height:250px;">
                                <h1 class="text-dark">Stack overflow</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="https://raw.githubusercontent.com/luisfernandocastro/ImageServer/master/carta_volteada.jpeg"
                                    alt="Avatar" style="width:200px; height:250px;">
                            </div>
                            <div class="flip-card-back">
                                <img src="https://raw.githubusercontent.com/luisfernandocastro/ImageServer/master/modulo_nomina.png"
                                    alt="Avatar" style="width:200px; height:250px;">
                                <h1 class="text-dark">Nomina</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="https://raw.githubusercontent.com/luisfernandocastro/ImageServer/master/carta_volteada.jpeg"
                                    alt="Avatar" style="width:200px; height:250px;">
                            </div>
                            <div class="flip-card-back">
                                <img src="https://raw.githubusercontent.com/luisfernandocastro/ImageServer/master/modulo_facturacion.jpg"
                                    alt="Avatar" style="width:200px; height:250px;">
                                <h1 class="text-dark">Facturación</h1>
                            </div>
                        </div>
                    </div>
                </div>

            </div>



        </div>
        <div class="col-lg-4">
            <div class="container">
                <h2>Mi tabala</h2>
                <table class="table table-striped">
                    <thead>
                        <tr class="bg-info">
                            <th>Quien</th>
                            <th>Notas</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Pedro</td>
                            <td><input type="text" class="form-control"></td>
                        </tr>
                        <tr>
                            <td>Juan</td>
                            <td><input type="text" class="form-control"></td>
                        </tr>
                        <tr>
                            <td>Carlos</td>
                            <td> <input type="text" class="form-control"></td>
                        </tr>
                        <tr>
                            <td>Juanita</td>
                            <td><input type="text" class="form-control"></td>
                        </tr>
                        <tr>
                            <td>Antonio</td>
                            <td><input type="text" class="form-control"></td>
                        </tr>
                        <tr>
                            <td>Carolina</td>
                            <td><input type="text" class="form-control"></td>
                        </tr>
                        <tr>
                            <td>Manuel</td>
                            <td><input type="text" class="form-control"></td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <!-- Button to Open the Modal -->
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#pregunta">
        Pregunta
    </button>
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#acusacion">
        Acusacion
    </button>
</div>
<!-- The Modal -->
<div class="modal fade" id="pregunta">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Haz tu pregunta</h4>

                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <p>Ejemplo: “¿Fue Pedro en el módulo de nómina con Syntax Error?” </p>                
                <form>
                    <label>Programador</label>
                    <select name="cars" class="custom-select">
                        <option value="1">Pedro</option>
                        <option value="2">Juan</option>
                        <option value="3">Carlos</option>
                        <option value="4">Juanita</option>
                        <option value="5">Antonio</option>
                        <option value="6">Carolina</option>
                        <option value="7">Manuel</option>
                    </select>
                    <label>Modulo</label>
                    <select name="cars" class="custom-select">
                        <option value="1m">Nómina</option>
                        <option value="2m">Facturación</option>
                        <option value="3m">Recibos</option>
                        <option value="4m">Comprobante contable</option>
                        <option value="5m">Usuarios</option>
                        <option value="6m">Contabilidad</option>                        
                    </select>
                    <label>Tipo de error</label>
                    <select name="cars" class="custom-select">
                        <option value="1e">404</option>
                        <option value="2e">Stack overflow</option>
                        <option value="3e">Memory out of range</option>
                        <option value="4e">Null pointer</option>
                        <option value="5e">Syntax error</option>
                        <option value="6e">Encoding error</option>                        
                    </select>
                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Enviar</button>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="acusacion">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Haz tu acusacion</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
               <p>Ejemplo: “¿Acuso a Carolina en el
                módulo de Facturación con Encoding
                Error?”
                </p>
                <form>
                    <label>Programador</label>
                    <select name="cars" class="custom-select">
                        <option value="1">Pedro</option>
                        <option value="2">Juan</option>
                        <option value="3">Carlos</option>
                        <option value="4">Juanita</option>
                        <option value="5">Antonio</option>
                        <option value="6">Carolina</option>
                        <option value="7">Manuel</option>
                    </select>
                    <label>Modulo</label>
                    <select name="cars" class="custom-select">
                        <option value="1m">Nómina</option>
                        <option value="2m">Facturación</option>
                        <option value="3m">Recibos</option>
                        <option value="4m">Comprobante contable</option>
                        <option value="5m">Usuarios</option>
                        <option value="6m">Contabilidad</option>                        
                    </select>
                    <label>Tipo de error</label>
                    <select name="cars" class="custom-select">
                        <option value="1e">404</option>
                        <option value="2e">Stack overflow</option>
                        <option value="3e">Memory out of range</option>
                        <option value="4e">Null pointer</option>
                        <option value="5e">Syntax error</option>
                        <option value="6e">Encoding error</option>                        
                    </select>
                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Enviar</button>
            </div>

        </div>
    </div>
</div>


{% endblock content %}