{% extends "base.html" %}

{% block content %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>

<body>

    <div class="container">
        <div class="row-mt-5">
            <div class="col-lg-6">
            <img src="https://raw.githubusercontent.com/luisfernandocastro/ImageServer/master/icono_game.jpg"
                class="img-fluid">
        </div>
            <div class="col-lg-6">
                    <label>Este es tu codigo de la sala</label>
                    <input type="text" class="form-control" style="background-color: grey; color: white"></input>
                    <button class="btn btn-primary">Copiar</button>
                    <br> 
                    <button class="btn btn-success">Empezar</button>
                </div>
            </div>
        </div>



    </div>




</body>

</html>

{% endblock content %}